body {
  background-color: rgb(238, 238, 238);
}

*::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.fullscreen-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: auto;
  position: relative;
}

/*========================================
         GLOBAL VARIABLES
========================================*/
.header4 {
  font-size: 1.1em;
}

header {
  z-index: 100;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.363);
}
header i {
  color: white;
  scale: 1.2;
}
header nav {
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  height: 100%;
}
header nav h3 {
  color: white;
  font-size: 1em;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .filter-container {
  background-color: rgb(238, 238, 238);
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .filter-container .button-container {
  background-color: #2c2c2c;
  padding: 5px;
  padding-left: 15px;
  border-radius: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
header .filter-container .button-container span {
  font-size: 0.8em;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
header .filter-container .button-container .circle {
  background-color: white;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: grid;
  place-content: center;
}

.fullscreen-container > section {
  min-width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 70px;
}

#route-calc {
  gap: 10px;
}

#map {
  min-height: 250px;
  min-width: 100%;
  border-radius: 10px;
}
#map .gm-bundled-control .gmnoprint {
  display: block;
}
#map .gmnoprint:not(.gm-bundled-control) {
  display: none;
}

.map-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
}
.map-text-container .total-distance {
  font-size: 1.5em;
  color: rgb(51, 51, 51);
}

.map-input-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  overflow-y: scroll;
}
.map-input-container .waypoint-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.map-input-container .waypoint-container .map-waypoint {
  background-color: transparent;
  color: rgb(150, 150, 150);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 0.8em;
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 10px;
}
.map-input-container .waypoint-container .map-waypoint:not(.user) {
  border: none;
}
.map-input-container .waypoint-container .startend {
  padding-inline: 0;
  font-size: 1.1em;
}
.map-input-container .new-waypoint-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 100px;
}
.map-input-container .new-waypoint-container .map-input-text {
  width: 100%;
  border: 1px solid #ff6600;
  font-size: 1.1em;
  padding: 10px 20px;
  border-radius: 10px;
}
.map-input-container .new-waypoint-container .add-waypoint-button {
  display: block;
  width: 100%;
  border: 1px solid #ff6600;
  border: none;
  background-color: #739ae8;
  font-size: 1.1em;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.map-input-container .new-waypoint-container .add-waypoint-button.hidden {
  display: none;
}

#vehicles {
  overflow-y: scroll;
}

/*
      <div class="box-container white">
         <button class="button primary"><span>Button</span></button>
         <button class="button secondary"><span>Button</span></button>
         <button class="button destructive"><span>Button</span></button>
      </div>      
*/
.box-container {
  width: 80%;
  height: auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 3px 3px 60px rgba(0, 0, 0, 0.158);
  overflow-y: scroll;
}
.box-container .content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-container > .bar {
  background-color: #2c2c2c;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 35px;
  padding-inline: 30px;
  display: flex;
  align-items: center;
}
.box-container > .bar span {
  color: white;
}

.box-container.blank {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
}

/*
         <button class="button primary"><span>Button</span></button>
         <button class="button secondary"><span>Button</span></button>
         <button class="button destructive"><span>Button</span></button>
*/
/*
         <div class="icon-button">
             <img src="..." alt="" class="icon-image" />
         </div>

         <div class="icon-button">
                  <div class="bars-container">
                     <div class="bars"></div>
                     <div class="bars"></div>
                     <div class="bars"></div>
                  </div>
         </div>
*/
.button {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: #ff6600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: 0.2s;
}
.button span {
  color: white;
  font-size: 1.1em;
}
.button:hover, .button:focus {
  scale: 1.02;
  opacity: 0.9;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.351);
}

.button.primary {
  background-color: #ff6600;
}

.button.secondary {
  background-color: #2c2c2c;
}

.button.destructive {
  border: 2px solid rgb(253, 46, 46);
  background-color: transparent;
}
.button.destructive span {
  color: rgb(253, 46, 46);
}

.icon-button {
  width: 35px;
  height: 35px;
  display: grid;
  place-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
.icon-button img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}
.icon-button .bars-container {
  height: 20px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-button .bars-container .bars {
  background-color: white;
  height: 2px;
  width: 100%;
}

/*
   <div class="item-list">
      <!-- item -->
      <div class="item span">
            <img src="./images/cars/car1.png" class="image-thumbnail" />

            <div class="text-container">
               <h4>Car Model 2015</h4>
               <span>Lorem ipsum dolor sit amet.</span>
            </div>

            <div class="bar">
               <img src="./images/icons/back-icon.svg" alt="" />
            </div>
      </div>
   </div>
*/
.item-card-container.thumb {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.item-card-container.thumb .item-card {
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.363));
}
.item-card-container.thumb .item-card img {
  height: 100px;
  width: 130px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  position: absolute;
  top: 0;
}
.item-card-container.thumb .item-card .text-container {
  color: rgb(37, 37, 37);
  border-radius: 10px;
  height: 75%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  padding: 20px;
  padding-top: 35%;
  padding-bottom: 60px;
}
.item-card-container.thumb .item-card .text-container span {
  color: rgb(143, 143, 143);
}
.item-card-container.thumb .item-card .accent-bar {
  height: 40px;
  width: 100%;
  background-color: #2c2c2c;
  position: absolute;
  bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 20px;
}
.item-card-container.thumb .item-card .accent-bar i {
  color: white;
  scale: 1.1;
}

.item-card-container.block {
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.item-card-container.block .item-card {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.363));
}
.item-card-container.block .item-card img {
  height: 100%;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left;
     object-position: left;
  position: absolute;
  left: 0;
}
.item-card-container.block .item-card .text-container {
  color: rgb(37, 37, 37);
  border-radius: 10px;
  height: 100%;
  width: 95%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  background-color: white;
  padding: 20px;
  padding-left: 30%;
}
.item-card-container.block .item-card .text-container * {
  width: 80%;
}
.item-card-container.block .item-card .text-container span {
  color: rgb(143, 143, 143);
}
.item-card-container.block .item-card .accent-bar {
  width: 50px;
  height: 100%;
  background-color: #2c2c2c;
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  place-content: center;
}
.item-card-container.block .item-card .accent-bar i {
  color: white;
  scale: 1.1;
}

/*========================================
         TEMPORARY - REMOVE LATER
========================================*/
[data-hidden=true] {
  transition: 0.2s cubic-bezier(0.6, 0, 0.83, 0.67);
  opacity: 0;
  transform: translateY(100px);
  scale: 0.95;
}/*# sourceMappingURL=main.css.map */