/*
      <div class="box-container white">
         <button class="button primary"><span>Button</span></button>
         <button class="button secondary"><span>Button</span></button>
         <button class="button destructive"><span>Button</span></button>
      </div>      
*/

// abstracts
@use "../abstracts/variables" as vars;
@use "../abstracts/colors" as cols;
@use "../abstracts/typography" as type;

$container-padding-1: 30px;

// default
.box-container {
   width: 90%;
   height: auto;
   background-color: white;
   border-radius: vars.$border-radius-2;
   box-shadow: 3px 3px 60px rgba(0, 0, 0, 0.158);
   overflow-y: scroll;

   .content-container {
      // padding: $container-padding-1;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

// bar
.box-container > .bar {
   background-color: cols.$secondary-color;
   border-top-left-radius: vars.$border-radius-2;
   border-top-right-radius: vars.$border-radius-2;
   width: 100%;
   height: 35px;
   padding-inline: $container-padding-1;
   display: flex;
   align-items: center;

   span {
      color: white;
   }
}

// blank
.box-container.blank {
   background-color: transparent;
   box-shadow: none;
   border-radius: 0;
   width: 100%;
   height: 100%;
}
