/*
   <div class="item-list">
      <!-- item -->
      <div class="item span">
            <img src="./images/cars/car1.png" class="image-thumbnail" />

            <div class="text-container">
               <h4>Car Model 2015</h4>
               <span>Lorem ipsum dolor sit amet.</span>
            </div>

            <div class="bar">
               <img src="./images/icons/back-icon.svg" alt="" />
            </div>
      </div>
   </div>
*/

@use "../abstracts/variables" as vars;
@use "../abstracts/colors" as cols;
@use "../abstracts/typography" as type;

.item-card-container.thumb {
   width: 100%;
   height: auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;

   .item-card {
      height: 250px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.363));

      img {
         height: 100px;
         width: 130px;
         object-fit: contain;
         object-position: bottom;
         position: absolute;
         top: 0;
      }
      .text-container {
         color: rgb(37, 37, 37);
         border-radius: vars.$border-radius-1;
         width: 100%;
         height: calc(100% - 50px);
         text-align: center;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         gap: 10px;
         background-color: white;
         padding: 20px;
         padding-top: 70px;
         padding-bottom: 60px;

         h4 {
            font-size: 1em;
         }
         span {
            color: rgb(143, 143, 143);
            font-size: 0.8em;
         }
      }
      .accent-bar {
         height: 40px;
         width: 100%;
         background-color: cols.$secondary-color;
         position: absolute;
         bottom: 0;
         border-bottom-right-radius: vars.$border-radius-1;
         border-bottom-left-radius: vars.$border-radius-1;
         display: flex;
         align-items: center;
         justify-content: flex-end;
         padding-inline: 20px;

         i {
            color: white;
            scale: 1.1;
         }
      }
   }
}


// .item-card-container.splide__list {
//    .item-card {
//       // img {
//       //    height: 100%;
//       //    width: 100px;
//       //    object-fit: contain;
//       //    object-position: left;
//       //    position: absolute;
//       //    left: 0;
//       // }
   
//    }
// }


   // .text-container {
   //       outline: 1px solid red;
   //       color: rgb(37, 37, 37);

   //       h4 {
   //          font-size: 1em;
   //       }
   //       span {
   //          color: rgb(143, 143, 143);
   //          font-size: 0.8em;
   //       }

   //       h4,
   //       span {
   //          width: calc(100% - 80px);
   //          margin: 0;
   //       }
   //    }