/*
   <div class="item-list">
      <!-- item -->
      <div class="item span">
            <img src="./images/cars/car1.png" class="image-thumbnail" />

            <div class="text-container">
               <h4>Car Model 2015</h4>
               <span>Lorem ipsum dolor sit amet.</span>
            </div>

            <div class="bar">
               <img src="./images/icons/back-icon.svg" alt="" />
            </div>
      </div>
   </div>
*/

@use "../abstracts/variables" as vars;
@use "../abstracts/colors" as cols;
@use "../abstracts/typography" as type;

.item-card-container.thumb {
   width: 100%;
   height: auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 15px;

   .item-card {
      height: 250px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.363));

      img {
         height: 100px;
         width: 130px;
         object-fit: contain;
         object-position: bottom;
         position: absolute;
         top: 0;
      }
      .text-container {
         color: rgb(37, 37, 37);
         border-radius: vars.$border-radius-1;
         height: 75%;
         width: 100%;
         text-align: center;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         gap: 10px;
         background-color: white;
         padding: 20px;
         padding-top: 35%;
         padding-bottom: 60px;

         span {
            color: rgb(143, 143, 143);
         }
      }
      .accent-bar {
         height: 40px;
         width: 100%;
         background-color: cols.$secondary-color;
         position: absolute;
         bottom: 0;
         border-bottom-right-radius: vars.$border-radius-1;
         border-bottom-left-radius: vars.$border-radius-1;
         display: flex;
         align-items: center;
         justify-content: flex-end;
         padding-inline: 20px;

         i {
            color: white;
            scale: 1.1;
         }
      }
   }
}

.item-card-container.block {
   width: 95%;
   height: auto;
   display: grid;
   grid-template-columns: 1fr;
   gap: 20px;

   .item-card {
      height: 80px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.363));

      img {
         height: 100%;
         width: 100px;
         object-fit: contain;
         object-position: left;
         position: absolute;
         left: 0;
      }
      .text-container {
         color: rgb(37, 37, 37);
         border-radius: vars.$border-radius-1;
         height: 100%;
         width: 95%;
         text-align: left;
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 10px;
         background-color: white;
         padding: 20px;
         padding-left: 30%;
         * {
            width: 80%;
         }
         span {
            color: rgb(143, 143, 143);
         }
      }
      .accent-bar {
         width: 50px;
         height: 100%;
         background-color: cols.$secondary-color;
         position: absolute;
         border-top-right-radius: vars.$border-radius-1;
         border-bottom-right-radius: vars.$border-radius-1;
         display: grid;
         place-content: center;

         i {
            color: white;
            scale: 1.1;
         }
      }
   }
}
