$primary-color: #ff6600;
$secondary-color: #2c2c2c;
$tertiary-color: #739ae8;
$destructive-color: rgb(253, 46, 46);
$grey: #b2b2b2;
$white: white;
$offwhite: rgb(238, 238, 238);
$map-renderer-color: #cfff55;
